<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <!-- <% if(message){ %>
    <p><%= message %></p>
    <% } else { %>
    <span> There is no message</span>
    <% } %> -->

    <!-- <% let items = ["Apple", "Banana","cherry"] %> -->
    <ul>
      <% items.forEach( item => { %>
      <li><%= item _%></li>
      <% }) %>
    </ul>
  </body>
</html>
